<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/count.css">
  </head>
  <body>
    
    <form action = "/addcount" method = "post">
      <input type = "submit" value = "NEW COUNTER">
    </form>
    
    <% @numbers.each do |counter| %>
      <% if counter.number == 0 %>
        <h1><s1><%= counter.number %></s1></h1>
      <% elsif counter.number % 3 == 0 %>
        <h2><s2><%= counter.number %></s2></h2>
      <% elsif counter.number % 5 == 0 %>
        <h1><s3><%= counter.number %></s3></h1>
      <% elsif counter.number % 15 == 0 %>
        <h1><s4><%= counter.number %></s1></h4>
      <% elsif counter.number.to_s.include?("3") %>
        <h2><s1><%= counter.number %></s1></h2>
      <% else %>
        <h1><s1><%= counter.number %></s1></h1>
      <% end %>
    
    <form action="/plus/<%= counter.id %>" method="post">
      <input type="submit" value="+">
    </form>
    
    <form action="/minus/<%= counter.id %>" method="post">
      <input type="submit" value="-">
    </form>
    
    <form action = "/kakeru/<%= counter.id %>" method = "post">
      <input type = "submit" value = "ร2">
    </form>
    
    <form action = "/waru/<%= counter.id %>" method = "post">
      <input type = "submit" value = "รท2">
    </form>
    
    <form action="/clear/<%= counter.id %>" method="post">
      <input type="submit" value="clear">
    </form>
    
    <form action = "/delete/<%= counter.id %>" method = "post">
      <input type = "submit" value = "delete">
    </form>
    
  <% end %>
    
  </body>
</html>
